:root {
  --purple: #6f2d97;
  --purplish: #74587b;
  --light-purple: #d9c8e9;

  --background-gray: #39353a;
  --dark-gray: #272228;
  --medium-gray: #a199a9;
  --light-gray: #c8c8c8;

  --white: #ffffff;
}
